<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AplicacionCaja.Properties.Settings.NationalBankCajeroConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=NationalBankCajero;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IntegracionASMXSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.integracion.somee.com/IntegracionASMX.asmx"
        binding="basicHttpBinding" bindingConfiguration="IntegracionASMXSoap"
        contract="integracion.IntegracionASMXSoap" name="IntegracionASMXSoap" />
    </client>
  </system.serviceModel>
</configuration>